<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col">
      <h2 class="categoria-head">Lista de categorias</h2>
      <hr>
    </div>
  </div>
    <div class="row">
      <div class="col mb-5">
        <a routerLink="/categoria-add" class="btn btn-success"> &plus; Adicionar </a>
      </div>
    </div>
    <div class="row">
      <ul class="list-group col-12">
        <li *ngFor="let categoria of listaCategorias | async"
            class="list-group-item d-flex justify-content-between d-flex align-items-center">
          <span class="badge badge-custom" > {{categoria.idCategoria}} </span>
          <span class="d-flex align-items-center" id="descCategoria">{{categoria.descricaoCategoria}} </span>
          <div class="row">
            <div class="col-8 d-flex align-items-center">
              <div class="custom-control custom-switch">

                <div [ngSwitch]="categoria.flAtivo">
                  <div *ngSwitchCase="true">
                    <input type="checkbox" checked="checked"
                    (change)="toggleAtivo(categoria.idCategoria)"
                    class="custom-control-input" id="flAtivo_{{categoria.idCategoria}}">
                    <label class="custom-control-label" for="flAtivo_{{categoria.idCategoria}}">Ativo</label>
                  </div>
                  <div *ngSwitchDefault>
                    <input type="checkbox"
                    (change)="toggleAtivo(categoria.idCategoria)"
                    class="custom-control-input" id="flAtivo_{{categoria.idCategoria}}">
                    <label class="custom-control-label" for="flAtivo_{{categoria.idCategoria}}">Ativar</label>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-4 d-flex align-items-center" >
              <span class="text-danger">
                <button (click)="delete(categoria.idCategoria)"
                      class="btn btn-danger font-weight-bold"> &times; </button>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>
